<h3>Add new doctors</h3>

<form action="/doctors" method="post">
  <div class="form-group">
    <label class="form-label" for='name'>Enter name:</label>
    <input class="form-control" id='name' name='name' type='text' placeholder="Doctor Name" autofocus>
    <label class="form-label" for='specialty'>Enter specialty:</label>
    <input class="form-control" id='specialty' name='specialty' type='text' placeholder="Doctor Specialty" autofocus>
    <button type="submit" class="button btn">Add Doctor</button>
  </div>
</form>
