<h1>Welcome to the Doctor/Patient App</h1>

<div class="container">
  <a href="/doctors">View All Doctors</a>
  <a href="/doctors/new">Add New Doctors</a>
  <a href="/patients">View All Patients</a>
  <a href="/patients/new">Add New Patients</a>

</div>
