<h3>Add new patients</h3>

<form action="/patients" method="post">
  <div class="form-group">
    <label class="form-label" for='name'>Enter name:</label>
    <input class="form-control" id='name' name='name' type='text' placeholder="Name" autofocus>
    <label class="form-label" for='dob'>Enter date of birth:</label>
    <input class="form-control" id='dob' name='dob' type='text' placeholder="YYYY-MM-DD 00:00:00" autofocus>
    <button type="submit" class="button btn">Add Patient</button>
  </div>
</form>
